.App {
  background-color: #282c34;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.rowTest {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 20%;
  margin: auto;
}

.colTest {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 30%;
  margin: auto;
}

.create {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: auto;
}

.check {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 75%;
  margin: auto;
}

.square-grid {
  display: grid;
  grid-template: auto, auto / auto, auto;
}

.gridCont {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
  height: 500px;
  width: 500px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  align-items: center;
}

.gridColH {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border: 1px solid white;
  
}

.gridRowH {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}

.create {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: auto;
}

.solnButton {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: auto;
}