.App {
  background-color: black;
  position: fixed;
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.gridCont Button {
  min-width: 10px;
}

.textCol, .textRow {
  display: flex;
  color: white;
  font-size: 1.70em;
  justify-content: center;
  align-items: flex-end;
}

.textCol {
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
  text-align: center;
  width: 35px;
}
.textCol:first-child {
  border-left: 1px solid white;
}
.textCol:last-child {
  border-right: 1px solid white;
}

.textRow {
  border-top: 1px solid #404040;
  border-bottom: 1px solid #404040;
	flex-direction: column;
  padding: 0 5px;
}
.textRow:first-child {
  border-top: 1px solid white;
}
.textRow:last-child {
  border-bottom: 1px solid white;
}

.grid {
	margin: auto auto;
	display: grid;
	grid-template: auto, auto / auto, auto;
}

.size-5 .grid {
  position: fixed;
  right: 46.5%;
  bottom: 40%;
}

.size-10 .grid {
  position: fixed;
  right: 40.2%;
  bottom: 25%;
}

.size-15 .grid {
  position: fixed;
  right: 34.2%;
  bottom: 12%;
}

.gridCont {
	grid-row: 2;
	grid-column: 2;
	display: grid;
	border: 1px solid white;
	align-items: center;
}

/*determines number of rows and columns based on size*/
.size-5 .gridCont {
  grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}
.size-10 .gridCont {
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}
.size-15 .gridCont {
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

/*creates white border on edge of .gridCont, by size*/
/*top for size 5*/
.size-5 .gridCont .MuiButtonBase-root:nth-child(n):nth-child(-n+5) {
  border-top: 1px solid white; 
}
/*bottom for size 5*/
.size-5.gridCont .MuiButtonBase-root:nth-child(n+21):nth-child(-n+25) {
  border-bottom: 1px solid white;
}
/*left for size 5*/
.size-5 .gridCont .MuiButtonBase-root:nth-child(5n+1) {
  border-left: 1px solid white;
}
/*right for size 5*/
.size-5 .gridCont .MuiButtonBase-root:nth-child(5n) {
  border-right: 1px solid white;
}

/*top for size 10*/
.size-10 .gridCont .MuiButtonBase-root:nth-child(n):nth-child(-n+10) {
  border-top: 1px solid white; 
}
/*bottom for size 10*/
.size-10 .gridCont .MuiButtonBase-root:nth-child(n+91):nth-child(-n+100) {
  border-bottom: 1px solid white;
}
/*left for size 10*/
.size-5 .gridCont .MuiButtonBase-root:nth-child(10n+1) {
  border-left: 1px solid white;
}
/*right for size 10*/
.size-5 .gridCont .MuiButtonBase-root:nth-child(10n) {
  border-right: 1px solid white;
}

/*top for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(n):nth-child(-n+15) {
  border-top: 1px solid white; 
}
/*bottom for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(n+211):nth-child(-n+225) {
  border-bottom: 1px solid white;
}
/*left for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(15n+1) {
  border-left: 1px solid white;
}
/*right for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(15n) {
  border-right: 1px solid white;
}

/*vertical content dividing lines*/
/*vertical lines, left border for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(15n-9), .size-15 .gridCont .MuiButtonBase-root:nth-child(15n-4) {
  border-left: 1px solid #999999;
}
/*vertical lines, right border for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(15n-10), .size-15 .gridCont .MuiButtonBase-root:nth-child(15n-5) {
  border-right: 1px solid #999999;
}
/*vertical line, left border for size 10*/
.size-10 .gridCont .MuiButtonBase-root:nth-child(10n-4) {
  border-left: 1px solid #999999;
}
/*vertical line, right border for size 10*/
.size-10 .gridCont .MuiButtonBase-root:nth-child(10n-5) {
  border-right: 1px solid #999999;
}

/*horizontal content dividing lines*/
/*horizontal line, bottom border for size 10*/
.size-10 .gridCont .MuiButtonBase-root:nth-child(n+41):nth-child(-n+50) {
  border-bottom: 1px solid #999999;
}
/*horizontal line, top border for size 10*/
.size-10 .gridCont .MuiButtonBase-root:nth-child(n+51):nth-child(-n+60) {
  border-top: 1px solid #999999;
}
/*horizontal lines, bottom borders for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(n+76):nth-child(-n+90), .size-15 .gridCont .MuiButtonBase-root:nth-child(n+151):nth-child(-n+165) {
  border-top: 1px solid #999999;
}
/*horizontal lines, top borders for size 15*/
.size-15 .gridCont .MuiButtonBase-root:nth-child(n+61):nth-child(-n+75), .size-15 .gridCont .MuiButtonBase-root:nth-child(n+136):nth-child(-n+150) {
  border-bottom: 1px solid #999999;
}

.gridColH {
  grid-row: 1;
  grid-column: 2;
  display: grid;
  border-left: 1px solid white;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

/*determines number of column headers based on size*/
.size-5 .gridColH {
  grid-template-columns: repeat(5, 1fr);
}
.size-10 .gridColH {
  grid-template-columns: repeat(10, 1fr);
}
.size-15 .gridColH {
  grid-template-columns: repeat(15, 1fr);
}

/*column header lines every 5*/
.gridColH > :nth-child(5), .gridColH > :nth-child(10) {
  border-right: 1px solid #999999;
}
.gridColH > :nth-child(6), .gridColH > :nth-child(11) {
  border-left: 1px solid #999999;
}


.gridRowH {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
/*determines number of columns based on size*/
.size-5 .gridRowH {
  grid-template-rows: repeat(5, 1fr);
}
.size-10 .gridRowH {
  grid-template-rows: repeat(10, 1fr);
}
.size-15 .gridRowH {
  grid-template-rows: repeat(15, 1fr);
}

/*row header lines every 5*/
.gridRowH > :nth-child(5n) {
  border-bottom: 1px solid #999999;
}
.gridRowH > :nth-child(5n+1) {
  border-top: 1px solid #999999;
}

.solnButton {
  display: block;
  margin: auto;
  position: fixed;
  height: 50px;
  width: 200px;
  margin-top: 50%;
  bottom: -90%;
  right: -11.5%;
  align-items: center;
}

.puzzleLinkButton {
  display: block;
  margin: auto;
  position: fixed;
  height: 50px;
  width: 175px;
  margin-top: 50%;
  bottom: -90%;
  right: -5%;
  align-items: center;
}

.tutorial {
  display: block;
  margin: auto;
  position: fixed;
  height: 50px;
  width: 150px;
  margin-top: 50%;
  bottom: -90%;
  right: 20%;
  align-items: center;
}

.createTutorial {
  display: block;
  margin: auto;
  position: fixed;
  height: 50px;
  width: 175px;
  margin-top: 50%;
  bottom: -90%;
  right: -8%;
  align-items: center;
}

.hint {
  display: block;
  margin: auto;
  position: fixed;
  height: 50px;
  width: 150px;
  margin-top: 50%;
  bottom: -90%;
  right: -10%;
  align-items: center;
}

p {
  color: rgb(255, 255, 255);
  text-indent: 0px;
  text-transform: uppercase;
}

.linkInfo {
  position: fixed;
  bottom: 15%;
  left: 5%;
}

.navbar {
  color: white;
  display: flex;
  list-style: none;
}

.navSolve {
  position: relative;
  left: -50px;
  color:white;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  border: 1px solid white;
}

.navCreate {
  position: relative;
  left: -50px;
  color:white;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
  border: 1px solid white;
}

.navActive {
  background-color: dimgray;
}

.solveLink {
  display: block;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
}

.dropdownSolve, .dropdownCreate {
  position: relative;
  display: inline-block;
}

.dropdownSolveContent {
  display: none;
  position: fixed;
  left: 0px;
  top: 58px;
  width: 204.5px;
  background-color: gray;
}

.dropdownSolve:hover .dropdownSolveContent {
  display: block;
}

.dropdownCreateContent {
  display: none;
  position: fixed;
  left: 224.5px;
  top: 58px;
  width: 160px;
  background-color: gray;
}

.dropdownCreate:hover .dropdownCreateContent {
  display: block;
}

.solveLink:hover {
  background-color: dimgray;
}