.App {
  background-color: #282c34;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  overflow: auto;
}

.rowTest {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 20%;
  margin: auto;
}

.colTest {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 30%;
  margin: auto;
}

.create {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 50%;
  margin: auto;
}

.check {
  display: inline;
  position: absolute;
  bottom: 0%;
  left: 75%;
  margin: auto;
}

.square-grid {
  display: grid;
  position: absolute;
  top: 25%;
  left: 3%;
  margin: auto;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(5, 100px);
}

img {
  display: block;
  object-fit: fill;
}

.x, .clicked, .default {
  position: absolute;
}

.square .clicked {
  display: none;
}

.square .x {
  display: none;
}

.clickedShow .clicked {
  display: block;
}

.clickedShow .x {
  display: none;
}


.xShow .clicked {
  display: none;
}

.xShow .x {
  display: block;
}